<a href="https://colab.research.google.com/github/zeinab29/Tasks/blob/main/60_python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string=input()
len(string)

read

4

In [ ]:
string=input()
length=0
for i in string:
  length+=1
length

res

3

a**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
sample=input()
if len(sample)>=2:
  print(sample[:2]+ sample[-2:])
else:
  print("empty string")

we
wewe

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
string = input()
if len(string)<3:
  print(string)
elif string[-3:] == "ing":
  print(string+"ly")
else:
  print(string+"ing")

kill
killing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
words = ["ahmed" , "nour" ,"ebtisam"]
word = max(words,key=len)
print(word,len(word))

ebtisam 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
sample = input()
sample = sample[-1]+sample[1:-1]+sample[0]
sample

sort

'tors'

In [ ]:
sample = input()
s=list(sample)
s[0],s[-1]=s[-1],s[0]
sample="".join(s)
sample

sort

'tors'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
given_string=input()
string =""
for i in range(len(given_string)):
  if i %2==0:
    string = string + given_string[i]
print(string)

hello
hlo

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
string="amr and ahmed are frindes but amr is the tallest"
words=string.split(" ")
s = set()
for i in words:
  s.add((i,string.count(i)))

s

{('ahmed', 1),
 ('amr', 2),
 ('and', 1),
 ('are', 1),
 ('but', 1),
 ('frindes', 1),
 ('is', 1),
 ('tallest', 1),
 ('the', 1)}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
string = input()
THE_UPPER = string.upper()
THE_LOWER = string.lower()
print(THE_UPPER)
print(THE_LOWER)

hello world
HELLO WORLD
hello world

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
string=input()
if len(string) %4==0:
  print(string[::-1])

look
kool

**10- Write a Python program to remove a newline in Python

In [ ]:
string = ''' my name is zeinab
I am 23 years old'''
string.replace("\n", " ")

' my name is zeinab I am 23 years old'

**11-Write a Python program to check whether a string starts with specified characters

In [1]:
string = input()
ch ="a"
if string[0]==ch:
  print ("Yes")
else:
  print("No")

asma
Yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [5]:
string = '''wheather is hot
wheather is bad
winter is better'''
split_lines = string.splitlines()
for line in split_lines:
  print( "The "+ line)

The wheather is hot
The wheather is bad
The winter is better

**13-Write a Python program to print the following numbers up to 2 decimal places

In [10]:
Num = 5.486325
print(round(Num,2))

5.49

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [11]:
Num = -5.486325
print(round(Num,2))

-5.49

**15-Write a Python program to display a number with a comma separator

In [13]:
num = 2.3
print (str(num).replace(".",","))

2,3

**16-Write a Python program to reverse a string using 2 ways

In [26]:
string ="hello world"
reversedString = string [::-1]
reversedString

'dlrow olleh'

In [27]:
reversedString =""
for i in string:
  reversedString = i +reversedString
reversedString

'dlrow olleh'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [35]:
string="ZeinabSalem"
chs=list(string)
characters = dict()
for i in chs:
  characters[i]=string.count(i)
characters

{'Z': 1, 'e': 2, 'i': 1, 'n': 1, 'a': 2, 'b': 1, 'S': 1, 'l': 1, 'm': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [37]:
string="aealkaase"
for ch in string:
  if string.count(ch)==1:
    print(ch)
    break

l

**19-Write a Python program to remove spaces from a given string

In [40]:
string = "My name is Zeinab"
string.replace(" ","")

'MynameisZeinab'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [42]:
string ="Hello"
substrings = len(string)*(len(string)+1)/2
substrings

15.0

**21-write a Python program to swap first and last element of any list.

In [49]:
l = [1,2,5,6]
l[0],l[-1]=l[-1],l[0]
l

[6, 2, 5, 1]

In [50]:
l = ['ab','b','c']
l[0],l[-1]=l[-1],l[0]
l

['c', 'b', 'ab']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [55]:
List = [23, 65, 19, 90]
pos1 = int(input("pleas enter pos1: "))
pos2 = int(input("pleas enter pos2: "))
List[pos1],List[pos2]=List[pos2],List[pos1]
List

pleas enter pos1: 0
pleas enter pos2: 2

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [56]:
List = [23, 65, 19, 90]
len(List)

4

In [58]:
length = 0
for i in List:
  length+=1
length

4

**24-write a Python code to find the Maximum number of list of numbers.

In [59]:
List = [23, 65, 19, 90]
max(List)

90

**25-write a Python code to find the Minimum number of list of numbers.

In [60]:
List = [23, 65, 19, 90]
min(List)

19

**26-search for if an elem is existing in list

In [62]:
List = [23, 65, 19, 90]
elem =3
if elem in List:
  print("elem is existing in list")
else:
  print("elem is not existing in list")

elem is not existing in list

**27- clear python list using different ways

In [64]:
List = [23, 65, 19, 90]
List.clear()
List

[]

In [71]:
List = [23, 65, 19, 90]
del List[:]
List

[]

In [72]:
List = [23, 65, 19, 90]
while len(List)!=0:
  List.pop()
List

[]

**28-remove duplicated elements from a list

In [74]:
l = [1,1,2,2,2,4]
newList = list(set(l))
newList

[1, 2, 4]


**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [10]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
output = []
n=len(test_list)
for i in range(0,n,2):
    output.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
output

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using
different ways

In [12]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
unique_list = set(test_list)
len(unique_list)

4

In [15]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
unique_list =[]
for item in test_list:
  if item not in unique_list:
    unique_list.append(item)
    item += 1
len(unique_list)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [20]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
for i in test_list:
  if i > 4:
    test_list.remove(i)
list(set(test_list))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [23]:
List = [1,2,2,3,4,5]
output = []
for i in range(1,len(List)):
  strongest=max(List[i],List[i-1])
  output.append(strongest)
for n in output:
  print(n,end=" ")

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]




Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [25]:
List =[1,2,3]
for i in range(3):
  for j in range(3):
    for k in range(3):
      if(i!=j&j!=k&k!=i):
        print(List[i],List[j],List[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [99]:
from itertools import combinations
test_list = [1,2,3]
for i in test_list:
  print(list(combinations(test_list, i)))

[(1,), (2,), (3,)]
[(1, 2), (1, 3), (2, 3)]
[(1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [106]:
List_1 = ["a","b"]
List_2 = [1,2]
ls=[]
for i in List_1:
  for j in List_2:
    ls.append((i,j))
ls

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [128]:
ls =[1, 1, 2, 3, 4, 5, 1, 2, 1]
while 1 in ls:
  ls.remove(1)
ls

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [134]:
ls1=['Gfg', 'is', 'best']
ls2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
ls3=[]
for i in ls2:
  ls3.append(ls1[i])
ls3

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [142]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
ls = [ i for i in test_list if i.count(K)==N]
ls

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [156]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted(array,key=lambda x:x[0])

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [165]:
dict1={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
myKeys = sorted(dict1)
sorted_dict = {i :dict1[i] for i in myKeys}
sorted_dict

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [222]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k =6
dict1={}
for key in test_dict:
   if not (isinstance(test_dict[key], int) and test_dict[key] > k):
     dict1[key]=test_dict[key]
dict1

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [224]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
dict4 ={}
for i in (dict1,dict2,dict3):
  dict4.update(i)
dict4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [2]:
dict1={3:30, 4:40}
for i in dict1.values():
  print(i)

30
40

**44- Write a Python script to merge two Python dictionaries

In [4]:
dict1 = {"k1":1, "k2":5}
dict2 = {"k3":3, "k4":4}
dict1.update(dict2)
dict1

{'k1': 1, 'k2': 5, 'k3': 3, 'k4': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [6]:
dict1 = {"k1":1, "k2":5}
print("the maximum value: ",max(dict1.values()))
print("the minimum value: ",min(dict1.values()))

the maximum value:  5
the minimum value:  1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [7]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3': None}
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
dict1

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [13]:
numbers = (1,2,4,8,9)
numbers[4]

9

**48-Write a Python program to unpack a tuple into several variables

In [16]:
numbers = (1,2,4,8,9)
a,b,c,d,e = numbers
a

1

**49-Write a Python program to add an item to a tuple

In [21]:
numbers = (1,2,4,8,9)
numbers += 5,
numbers

(1, 2, 4, 8, 9, 5)

**50-Write a Python program to convert a tuple to a string

In [24]:
tup =("h",'e','l','l','o')
string = ""
for i in tup:
  string += i
string

'hello'

**51-Write a Python program to convert a list to a tuple

In [25]:
ls = [1,2,4,8,6]
tuple(ls)

(1, 2, 4, 8, 6)

**52-Write a Python program to reverse a tuple

In [27]:
tup=(1, 2, 4, 8, 6)
tup[::-1]

(6, 8, 4, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [44]:
ls = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1]+(100,)for i in ls])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [45]:
string= "python 3.0"
tuple(string)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [2]:
tuples = ((1,2,3),(4,4,1),(1,7,2))
for i in tuples:
  print("the average: ",sum(i)/len(i))

the average:  2.0
the average:  3.0
the average:  3.3333333333333335

**56-Write a Python program to add member(s) to a set.

In [51]:
s={1,2,3}
s.add(4)
s.add(5)
s

{1, 2, 3, 4, 5}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [54]:
s={1, 2, 3, 4, 5}
num = 1
while num in s:
  s.remove(num)
s

{2, 3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [59]:
s1={1, 2, 3, 4, 5}
s2={ 4, 5,6,7}
print("the intersection: ", s1&s2)
print("the union: ", s1|s2)
print("the difference: ", s1-s2)
print("the Symmetric difference: ", s1^s2)

the intersection:  {4, 5}
the union:  {1, 2, 3, 4, 5, 6, 7}
the difference:  {1, 2, 3}
the Symmetric difference:  {1, 2, 3, 6, 7}

**59-Write a Python program to find the maximum and minimum values in a set

In [60]:
s1={1, 2, 3, 4, 5}

print("the maximum value: ",max(s1))
print("the minimum value: ",min(s1))

the maximum value:  5
the minimum value:  1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [65]:
ls =[1, 5, 3, 7, 9]
k=12
res = []
while ls:
        num = ls.pop()
        diff = k - num
        if diff in ls:
            res.append((diff, num))
res

[(3, 9), (5, 7)]